{% block urlchooser_widget %}
    {% apply spaceless %}
        {% set linkUrl = form.link_url.vars %}
        {% set link_typeVars = form.link_type.vars %}
        {% set buttonId = link_typeVars.id ~ '_button' %}
        {% set choices = link_typeVars.choices %}

        {% set activeChoice = link_typeVars.value is not empty and link_typeVars.value in choices|keys ? choices[link_typeVars.value] : choices|first %}
        <div id="{{ id }}-urlchooser-widget" class="urlchooser-wrapper" data-chooser-name="{{ full_name }}" data-link-type-id="{{ buttonId }}">
            <div class="urlchooser">
                {{ form_widget(form.link_url) }}
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default urlchooser__link-type" data-toggle="dropdown"
                            title="Select link type" data-target-id="">
                            <span class="text">{{ activeChoice|trans }}</span>&nbsp;<span class="caret"></span>
                        </button>
                        {{ form_widget(form.link_type, {'attr': {'data-button-id': buttonId}}) }}
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            {% for choiceValue, choiceLabel in choices %}
                                <li data-name="{{ link_typeVars.full_name }}"
                                    data-id="{{ buttonId }}"
                                    class="js-change-link-type" data-value="{{ choiceValue }}">
                                    <a href="#" {% if link_typeVars.xhr == true %}data-xhr{% endif %}>{{ choiceLabel | trans }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {{ form_widget(form.choice_internal, {
                        'attr': {'data-show-selector': buttonId, 'data-show-on': 'internal', 'class': link_typeVars.data != 'internal' ? 'hidden' : ''},
                        'linkUrl': linkUrl,
                        'linkTypeId': buttonId
                    }) }}
                    {{ form_widget(form.choice_external, { 'attr': {'data-show-selector': buttonId, 'data-show-on': 'external', 'class': link_typeVars.data != 'external' ? 'hidden' : ''}}) }}
                    {{ form_widget(form.choice_email, { 'attr': {'data-show-selector': buttonId, 'data-show-on': 'email', 'class': link_typeVars.data != 'email' ? 'hidden' : ''}}) }}
                </div>
            </div>
        </div>
    {% endapply %}
{% endblock urlchooser_widget %}

{% block internal_url_selector_widget %}
    <!-- URL Chooser Modal -->
    <div class="js-ajax-modal modal fade" id="{{ linkUrl.id }}-urlChooserModal" role="dialog" aria-labelledby="urlChooserModal" aria-hidden="true" data-loaded="false" data-linked-input-id="{{ linkUrl.id }}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                    <h3 class="modal-title">
                        {{ 'kuma_node.widget.url_chooser' | trans }}
                    </h3>
                </div>

                <!-- Body -->
                <div class="js-ajax-modal-body modal-body ajax-modal__body"></div>
            </div>
        </div>
    </div>

    <div class="input-group urlchooser-widget urlchooser__link-url {% if attr.class is defined %}{{ attr.class }}{% endif %}" data-show-selector="{{ linkTypeId }}"
        data-show-on="internal">
        {{ form_widget(form.input, {'value': linkUrl.value ? linkUrl.value : '', 'id': form.vars.id}) }}
        <input type="text" disabled="disabled" class="form-control js-urlchooser-value"
            value="{{ form.parent.link_type.vars.value == 'internal' ?  (linkUrl.value ? linkUrl.value|replace_url : '') : '' }}">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default btn--raise-on-hover" data-toggle="modal"
                data-target="#{{ linkUrl.id }}-urlChooserModal" data-link="{{ path('KunstmaanNodeBundle_selecturl') }}">
                {{ 'kuma_node.widget.choose' | trans }}
            </button>
        </span>
    </div>

{% endblock %}

{% block slug_widget %}
    {% apply spaceless %}
        {% set url = path('_slug', {
            url: prefix ~ (value | slugify)
        }) %}

        {% if prefix|first != '/' %}
            {% set prefix = '/' ~ prefix %}
        {% endif %}

        <div id="{{ id }}-slug-chooser" class="js-slug-chooser slug-chooser" data-url-prefix="{{ prefix }}" data-reset="{{ reset }}">
            <div>
                <div class="input-group slug-chooser">
                    {% if prefix is not empty %}
                        <span class="input-group-addon js-slug-chooser__prefix" title="{{ prefix }}">
                            {{ prefix }}
                        </span>
                    {% endif %}
                    <input type="text" name="{{ full_name }}" id="{{ id }}" value="{{ value|default('') }}" class="js-slug-chooser__input form-control">
                    <span class="input-group-btn">
                        <button type="button" class="js-slug-chooser__reset-btn btn btn-default btn--raise-on-hover" id="{{ id }}-slug-chooser__resetbtn">
                            Reset
                        </button>
                    </span>
                </div>
                <div>
                    <small>
                        {{ 'kuma_node.form.current_url' | trans }}: <a href="{{ url }}" target="_blank">
                            {{ url }}
                        </a>
                    </small>
                </div>
                <div>
                    <small class="js-slug-chooser__preview" style="display: none;">
                        {{ 'kuma_node.form.updated_url' | trans }}: <span></span>
                    </small>
                </div>
            </div>
        </div>
    {% endapply %}
{% endblock slug_widget %}
